@import url(menu.css);
@import url(general-background.css);
@import url(credits.css);


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product {
    background: 
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.product-image img {
    width: 100%;
    border-radius: 10px;
}

.product-details {
    margin-top: 20px;
}

#doomlogoh1 {
    width: 80%;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 16px;
    margin: 10px 0;
    color: #bbb;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #ffffff;
}

.buy-now {
    display: block;
    text-decoration: none;
    background: #0800ff;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.buy-now:hover {
    background: #969696;
} */
