

.container {
    font: Rajdhani;
    background-color: #11018d8e;
    display: block;
    margin: 0 auto;
    background-color: #5a6cd684;
    padding: 2rem; 
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 0.9rem;
    text-align: left;
}

input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input:focus { 
    border-color: #007bff;
    outline: none;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 15px;
    font-size: 1rem; 
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.9rem;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}