

.product-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto; 
    gap: 20px;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: black;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    justify-items: center;
}

.image-container img {
    width: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-details {
    text-align: center;
}

.credits {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-between;
    font-size: 0.9em;
    color: #555;
}

.price {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

.buy-buttons {
    display: flex;
    justify-content: center;
}

.add-to-cart {
    background-color: #e60012;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: #b0000d;
}